/* Reset some default browser styles */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

/* Header styles */
header {
  background-color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; /* Add position relative to header */
}

nav {
  position: absolute;
  top: 11px; /* Position at the top within the header */
  right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px; /* Increase margin for more spacing */
}

nav a {
  text-decoration: none;
  color: #555;
  font-weight: bold; /* Add bold font weight */
  transition: color 0.3s ease;
}

nav a:hover {
  color: #333;
}

/* Add hover effect to navigation items */
nav li:hover {
  transform: scale(1.1); /* Add scale effect on hover */
}

/* Section styles */
section {
  padding: 50px 0;
  text-align: center;
}

.about-section {
  padding: 80px 0; /* Increased padding for more spacing */
}

.about-content {
  max-width: 800px; /* Limit the width for better readability */
  margin: 0 auto; /* Center align the content */
  text-align: left; /* Align text to the left */
}

.about-text {
  margin: 20px 0; /* Add spacing between paragraphs */
  font-size: 1.2rem;
  line-height: 1.6; /* Improve line spacing for better readability */
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Typography styles */
h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.left-align {
  text-align: left;
}

.indented {
  text-indent: 2em; /* Adjust the value to control the amount of indentation */
}

/*Cpmtact section */
.contact-section {
  padding: 80px 0; /* Increased padding for more spacing */
}

.contact-details {
  margin-top: 20px; /* Add spacing between headings and details */
  text-align: center;
}

.contact-details p {
  margin: 10px 0; /* Add spacing between paragraphs */
  font-size: 1.2rem;
}

.contact-details a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-details a:hover {
  color: #0056b3;
}

/* Responsive styles */
@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 0; /* Position at the top within the header */
    right: 20px;
  }

  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  nav li {
    margin: 0 10px;
  }

  nav a {
    text-decoration: none;
    color: #555;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: #333;
  }
}
